body, html {
	margin: 20px;
	padding: 0;
	color: black;
	font-family: arial, tahoma, verdana;
	background: white;
  max-width: 1000px;
}

h1, h2 {
	padding: 5px 0px;
	margin: 5px 0px;
  font-weight: normal;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 34px;
  border-bottom: 3px solid #bcd;
}

h3 {
  margin-bottom: 8px;
  border-bottom: 1px solid #bcd;
}

#contacts-title {
  background-color: #bcd;
  padding: 10px;
}

.contact {
  padding: 10px;
}

.contact_type {
  font-style: italic;
}

ul {
  list-style: none;
  margin-top: 8px;
  padding-top: 0px;
  padding-left: 0px;
}​

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
